@charset 'UTF-8';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400i,700);

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  min-height: 100%;
  text-align: center;
  background: url(./images/background.png) no-repeat;
  background-color: #0f1e27;
  color: white;
  background-size: 100%;
  font-weight: bold;
  font-family: Roboto; }

.container {
  padding: 25px 0 0 0;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  display: flex;
  width: 60%;
  height: 10%;
  border: 1px solid;
  border-color: #2b3b45;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  color: black;
}

.headText {
  justify-content: flex-start;
  color: white;
  width: 62%;
  margin: 15px;
  font-family: Arial, sans-serif;
  font-size: large; }

.selectCurrency {
  justify-content: flex-end;
  margin: 15px;
  width: 37%;
}

@mixin cryptos ($name) {
  .#{$name} {
    background: url(./images/#{$name}.png) no-repeat;
    background-size: 100%;
    width: 210px;
    padding: 25px;
    margin: 10px;
    text-align: center;
  }
}

@include cryptos(Ethereum);
@include cryptos(Litecoin);
@include cryptos(Bitcoin);

@media (min-width: 500px) {
.crytosPosition {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 }
}

.image {
  height: 110px; }

.price, .switch {
  display: block;
  position: relative;
  height: 30px; }

.priceText {
  float: left; }

.switchName {
  float: left;
  font-size: small;
  font-weight: bold; }

.priceNumber, .switchButton {
  float: right; }

.textName {
  text-align: left;
  width: 120px;
  margin: 10px;
  font-size: small;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3); }

table {
  width: 200px; }

@mixin price ($name, $color) {
  .#{$name}Price {
    color: $color;
    text-align: right;
    margin: 10px;
    font-size: small;
  }
}

@include price(plus, #c80e24);
@include price(minus, #70c446);
